p{
    padding-top: 10px;
}
.header{
      background-color: #FACD0D;
    
}
.header span{ 
    font-weight: 500;
    padding-left: 30px;
    padding-top: 5px;
}
i{
    margin-right: 5px;
}
.fa-icon{
    margin-left: 500px;
}
@media only screen and (max-width:1230px) {
    .fa-icon{
        margin-left: 250px;
    }
}
@media only screen and (max-width:984px) {
    .fa-icon{
        margin-left: 125px;
    }
}
@media only screen and (max-width:858px) {
    .fa-icon{
        margin-left: 0px;
    }
}

.navbar{
    background-color: rgb(34,37,50);
}
.navbar-brand{
    margin-left: 200px;
     font-size: 24px;
     font-weight: 900;
     font-style: italic;
     color: #FACD0D;
}
.navbar-nav{
    margin-left: 470px;
 
   
}
.my-5{
    margin-top: 0 !important;
}
.navbar-toggler{
    color: #FACD0D;
}

.nav-link{
    color: white;
}
.main{
    background-image: url(jcb2.png);
    color: white;
}
.featurette{
    margin-left: 40px;
}
.btn{
    background-color:#FACD0D ;
    color: white;
}
.btn:hover{
    background-color: #FACD0D;
    color: white;
}
.featurette-heading{
    color: #FACD0D;
font-size: 2.6rem;
font-weight: 700;

}
.text-muted{
    font-size: 38px;
    line-height: 24px;
    font-weight: 700;
}
.lead{
    font-size: 0.8rem;
    line-height: 20px;
    letter-spacing: 0em;
    font-weight: 400;
    margin-top: 22px;
    margin-right: 47px;
}
.choose-container{
    padding-top: 30px;
    background-color: #F2F7FA;
}
.choose-us {
    text-align: center;
    font-weight: 700;
}
.choose-us-p{
    text-align: center;
    font-size: 13px;
}
.choose-container .row h2{
    margin-top: 10px;
    font-size: 1rem;
}
.choose-container .row p{
    font-size: 12px;
    padding-right: 50px;
    line-height: 20px;
}
.marketing h3{
    margin-top: 20px;
    margin-bottom: 2.5rem;
    
}
.marketing .row .col-lg-4 h2{
    font-size: 1.1rem;
font-weight: 700;
margin-top: 22px;

}
.marketing .row .col-lg-4 p{
    margin-right: 69px;
    font-size: 14px;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:500);


*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #fafafa;
}

.container-1{
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
    background-color: #FACD0D;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 2;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;

  
}

.heading span {
	display: block;
    font-size: 12px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}
.review{
    
    text-align: center;
    margin-top: 30px;
}
.review h3{
    font-weight: 700;
    font-size: 1.75rem;
}
.review p{
    margin-left: 48px;
margin-right: 48px;
font-size: 14px;
font-weight: 500;
}
.review .comment-box{
    display: flex;
    margin: 80px 0 0 0;
}
.review .comment{
    margin-left: 80px;
    
    background-color: #E5E5E5;
    /* width: 33.3%; */
    /* margin: 0 80px 0 80px; */
    border: 2px solid #E5E5E5;
    border-radius: 30px;
}
.review .comment:hover{
    background-color: #FACD0D;
    color: white;
}
.review .comment-icon{
    display: flex;
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h4{
    color:#fff;
    
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}